@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

.footer {
   background: #f0f0f0;
   padding: 5px 0px;
   text-align: center;
   font-family: League Spartan, FontAwesome;
}

.footer .row-r {
   width: 100%;
   margin: 1% 0%;
   padding: 0.6% 0%;
   color: #000;
   font-size: 0.9em;
}

.footer .row-r a {
   text-decoration: none;
   color: #000;
}

.footer .row-r ul {
   width: 100%;
}

.footer .row-r ul li {
   display: inline-block;
   margin: 0px 30px;
}

.footer .row-r a i {
   font-size: 2em;
   margin: 0% 1%;
}

@media (max-width: 720px) {
   .footer {
      text-align: left;
      padding: 5%;
   }

   .footer .row-r ul li {
      display: block;
      margin: 10px 0px;
      text-align: left;
   }

   .footer .row-r a i {
      margin: 0% 3%;
   }
}
